.edit-window {
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
  background: #faf9f9;
  box-shadow: 0px 2px 100px rgba(85, 91, 110, 0.09);
  border-radius: 25px;
  padding: 50px;
}

.edit-window__close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  border: none;
  background: none;
}

.edit-window__subheading {
  margin-bottom: 35px;
}
.edit-window__body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 35px;
}

.edit-window__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 14.5px;
}

.edit-window__label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.edit-window__label-value {
  max-width: 100px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: -0.075em;
  text-transform: lowercase;

  color: #555b6e;
}

.edit-window__input {
  width: 272px;
  border: none;
  background: none;
  border-bottom: 1px solid rgba(137, 176, 174, 0.34);
  transition: 0.13s;
  padding: 5px;
  &:hover {
    background-color: #ffd6ba48;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid #000;
  }
}
